<h2>{{Update?.withdrawaldetails}}</h2>
<ul class="tab col3">
    <li><a class="select" routerLink="/bank_details">{{Update?.bankdetail}}</a></li>

    <!-- <li><a routerLink="/upi_details">UPI Details</a></li> -->
</ul>
<div class="function-wrap">
    <ul class="input-list">
        <li><a class="btn-send" (click)="showOverlayInfo('#addBankDialog');">{{Update?.addbankdetails}}</a></li>
    </ul>
</div>

<table id="table_log" class="table01">
    <tbody>
        <tr>
            <th width="25%" class="align-L">{{Update?.AccountHolder}}</th>
            <th width="25%" class="align-L">{{Update?.accountnumber}}</th>
            <th width="25%" class="align-L">{{Update?.bankname}}</th>
            <th width="25%" class="align-L">IFSC</th>
            <th width="15%">Actions</th>
        </tr>

    </tbody>
    <tbody id="content">

        <ng-container *ngFor="let bank of bankList;let index=index">
            <tr id="tempTr">
                <td class="align-L">{{bank.account_holder}}</td>
                <td class="align-L"> {{bank.account_number}}</td>
                <td class="align-L"> {{bank.bank_name}}</td>
                <td class="align-L"> {{bank.ifsc_code}}</td>
                <td>
                    <ul style="display: flex;float: right;">
                        <button title="Preferred" class="btn_replay btn" (click)="showconfirmation('#confirmation','0',bank);"><img class="starimg" [src]= "bank.isPreferred=='1'?'assets/images/cricbuzzer/star_fill.png':'assets/images/cricbuzzer/star_outline.png'"></button>
                        <button title="Edit" class="btn_replay btn" (click)="showEditBank('#editBankDialog',bank);"><img class="starimg" src= "assets/images/cricbuzzer/edit.png"></button>
                        <button title="Delete" class="btn_replay btn" (click)="showconfirmation('#confirmation','2',bank);"><img class="starimg" src= "assets/images/cricbuzzer/trash.png"></button>
                    </ul>
                </td>
            </tr>
        </ng-container>

        <tr id="noDataTempTr" *ngIf="bankList.length==0 && !loader">
			<td class="no-data" colspan="5">
				<p>{{Update?.nodata}}</p>
			</td>
		</tr>
    </tbody>
</table>



<div id="addBankDialog" class="overlay" style="display: none;">
    <div class="frame-wrap pop_box">
        <div class="news-wrap-frame">
            <div class="side-head">
                <h3>Add Your Bank Account</h3>
            </div>
            <div style="margin: 8px 8px 14px 8px;
            font-size: 14px;">
                <span>Adding Bank Details is mandatory for processing withdrawals.</span>
            </div>
            <form [formGroup]="BankForm" class="form-login" (ngSubmit)="addBank()">
                <select id="select"  formControlName="bank_name"  (change)="selectBank($event.target.value)">
                    <option value="" selected>Select Bank</option>
                    <option *ngFor="let name of Banks" [value]="name">
                        {{name}}
                    </option>
                </select>
                <input type="number" formControlName="account_number" placeholder="Account Number" class="bankInput_1">
                <input oninput="this.value = this.value.toUpperCase()" formControlName="ifsc_code" type="text" placeholder="IFSC" class="bankInput_2">
                <input formControlName="account_holder" type="text" placeholder="Account Holder Name" class="bankInput_3">
                <div class="form-login" style="display: flex;margin-left: 40%;">
                    <a class="btn-send" (click)="hideOverlayInfo('#addBankDialog');">CLOSE</a>
                    <a class="btn-send" type="submit" style="margin-left: 8px;" (click)="addBank()">SAVE</a>
                </div>
            </form>

        </div>
    </div>
</div>


<div id="editBankDialog" class="overlay" style="display: none;">
    <div class="frame-wrap pop_box">
        <div class="news-wrap-frame">
            <div class="side-head">
                <h3>Edit Bank Account</h3>
            </div>
            <form [formGroup]="editBankForm" class="form-login" style="margin: auto;padding: 8px;" (ngSubmit)="updateBank()">
                <select id="select"  formControlName="bank_name"  (change)="selectBank($event.target.value)">
                    <option *ngFor="let name of Banks" [value]="name">
                        {{name}}
                    </option>
                </select>
                <input type="number" formControlName="account_number" placeholder="Account Number"  class="bankInput_1">
                <input oninput="this.value = this.value.toUpperCase()" formControlName="ifsc_code" type="text" placeholder="IFSC" class="bankInput_2">
                <input formControlName="account_holder" type="text" placeholder="Account Holder Name" class="bankInput_3">
                <div class="form-login" style="display: flex;margin-left: 40%;">
                    <a class="btn-send" (click)="hideOverlayInfo('#editBankDialog');">CLOSE</a>
                    <a class="btn-send" type="submit" style="margin-left: 8px;" (click)="updateBank()">SAVE</a>
                </div>
            </form>

        </div>
    </div>
</div>


<div id="confirmation" class="overlay" style="display: none;">
    <div class="frame-wrap pop_box">
        <div class="news-wrap-frame">
            <div class="side-head">
                <h3>Confirmation</h3>
            </div>
            <div class="dialogbody">
                <span>{{from=='0'?'Are you sure you want to set this as your preferred bank.':from=='1'?'Are you sure you want to set this as your preferred UPI.':from=='2'?'Are you sure you want to delete this bank.':'Are you sure you want to delete this UPI.'}}</span>
            </div>
            <div class="form-login" style="display: flex;margin-left: 40%;">
                <a class="btn-send" (click)="hideOverlayInfo('#confirmation');">No</a>
                <a class="btn-send" style="margin-left: 8px;" (click)="from=='0'?setPreferredBank():deleteBank()">Yes</a>
            </div>
        </div>
    </div>
</div>
